{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false,
        "printWidth": 120
      }
    }
  ]
}
